---
import { getSanityImageURL, formatBlogPostDate } from '../utils/helpers.js'
export interface Props {
  post: any;
}
const { post } = Astro.props;
---

<article class="card">
    <a class="card-body group shadow-md rounded-lg" href={`/blog/${post.slug.current}`}>
      {post.mainImage &&
        <img class="aspect-[3/2] shadow-md rounded-lg" loading="lazy" src={getSanityImageURL(post.mainImage).url()} />
      }
      <h1 class="card-title link-primary group-hover:underline">
        {post.title}
      </h1>
      <time class="">
        {formatBlogPostDate(post.publishedAt)}
      </time>
      <p class="">{post.excerpt}</p>
    </a>
</article>

