---
/* Hero section */
/* Components */
import MoveUpRight from "@lucide/astro/icons/move-up-right";
import { Image } from "astro:assets";
import Button from "./starwind/button/Button.astro";
import Card from "./starwind/card/Card.astro";
/* Types */
import type { CollectionEntry } from "astro:content";
import type { HTMLAttributes } from "astro/types";
/* Props */
interface Props extends HTMLAttributes<"section"> {
  data: CollectionEntry<"heroes">;
}
const heroEntry = Astro.props.data;
const body = heroEntry.body;
const { title, subtitle, featuredImage, featuredImageAlt, cv } = heroEntry.data;
---

<section class="py-20" id="hero-section">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid gap-12 font-serif lg:grid-cols-2">
      <div class="space-y-6">
        <h1
          class="text-foreground font-serif text-4xl leading-tight font-bold capitalize lg:text-5xl"
        >
          {title}
          <span class="text-primary">{subtitle}</span>
        </h1>
        {
          body !== undefined ? (
            <p class="text-foreground text-xl leading-relaxed text-balance">
              {body}
            </p>
          ) : null
        }
        <div class="flex flex-col lg:max-w-42">
          <Button
            href={cv.src}
            variant="primary"
            class="inline-flex rounded-none capitalize"
          >
            {cv.label}<MoveUpRight />
          </Button>
        </div>
      </div>
      <Card
        class="bg-background flex flex-col gap-6 rounded-xl border p-8 shadow-sm"
      >
        <Image
          src={featuredImage}
          alt={featuredImageAlt}
          class="h-auto w-full rounded-lg shadow-lg"
        />
        <div></div>
      </Card>
    </div>
  </div>
</section>
