---
/* Hero section */

/* Types */
import type {CollectionEntry} from "astro:content"
import type { HTMLAttributes } from "astro/types"
/* Props */
interface Props extends HTMLAttributes<"section">{
  data: CollectionEntry<"heroes">
}
const heroEntry = Astro.props.data
const body = heroEntry.body
const {title, subtitle, featuredImage, cv} = heroEntry.data
---
<section id="hero-section">
  <div>
    <h1 class="text-5xl font-serif capitalize text-emerald-800">{title}</h1>
    <h2>{subtitle}</h2>
  </div>
  <div><img src={featuredImage.src} alt={featuredImage.alt}/></div>
  <a href={cv.src}>{cv.label}</a>
  {body ? <p>{body}</p> : ""}
</section>
