---
import Head from "@components/Head.astro";
import { SITE } from "@src/config.ts";
import "../styles/index.css";
import { allDefined } from '/dist/webawesome.js';
const loaded = await allDefined();
---
<html lang="en">
  <Head
    title={SITE.title}
    description={SITE.desc}
    image={SITE.ogImage}
    url={SITE.website}
    author={SITE.author}
    ></Head>
  <body>
    <slot></slot>
  </body>
  <script>
    // This script is used to ensure that the WebAwesome library is loaded
    // before any components that depend on it are rendered.
    if (typeof window !== "undefined") {
      window.addEventListener("load", () => {
        console.log("WebAwesome library loaded successfully.");
      });
    }
  </script>
</html>
