---
import Head from "@components/head/Head.astro";
import { SITE } from "@src/config.ts";
---

<html lang="en">
  <Head
    title={SITE.title}
    description={SITE.desc}
    image={SITE.ogImage}
    url={SITE.website}
    author={SITE.author}
    ></Head>
  <body>
    <slot />
  </body>
</html>
