---
import Head from "@components/Head.astro";
import { SITE } from "@src/config.ts";
import "../styles/index.css";
import { allDefined } from '/dist/webawesome.js';
export const loaded = await allDefined();
---
<html lang="en">
  <Head
    title={SITE.title}
    description={SITE.desc}
    image={SITE.ogImage}
    url={SITE.website}
    author={SITE.author}
    ></Head>
  <body>
    <slot></slot>
  </body>
</html>
